body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}

/* style sur le header  */

header{
      
    background-image: url(/Assets/Illustrations/Bathome1.png);
    height: 900px;
    
}



#debut_header{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    
}



header p {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
     text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
   
    
}


#header_btn_div{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    
}


#img2{
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 30px;
    
}


header button{
    border: 1px solid white;
    height: 50px;
    width: 120px;
    
}

/* le style du main  */

main{
    margin: 30px;
}

.conteneur_de_trois_images{
    display: flex;
    justify-content: space-around;
}

