body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}

/* style sur le header  */

header{
      
    background-image: url(/Assets/Illustrations/Bathome1.png);
    height: 900px;
    
}



#debut_header{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    
}



header p {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
     text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
   
    
}


#header_btn_div{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    
}


#img2{
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 30px;
    
}


header button{
    border: 1px solid white;
    height: 50px;
    width: 120px;
    
}

/* le style du main  */

main{
    margin: 30px;
}

.conteneur_de_trois_images{
    display: flex;
    justify-content: space-around;
}

#multimedia_section_div{
      display: flex;
      justify-content: space-around;
      gap: 150px;
      margin-top: 80px;
}

#multimedia_section_div div{
    display: flex;
    
}

#multimedia_section_p_div{
    border: 1px solid white;
    border-radius: 15px;
}

#bande_annonce{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

#form_contact{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_contact form{
    display: flex;
    flex-direction: column;
}

#form_contact form h2{
    align-self: center;
}

#quotes{
    margin: 100px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
aside img{
    height: 60px;
    width: 70px;
}

aside .image_de_rs{
    height: 40px;
    width: 50px;
}

#footer_div_1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer_div_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 25px;
}